{% extends 'base.html' %}
{% from 'includes/macros.html' import form_input %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row d-flex align-items-center justify-content-center">
  <div class="col-lg-5 col-md-8 col-12 mt-5 mb-5">
    <h3 class="mt-3 mt-lg-5">
      Rest Password
      <hr>
    </h3>
    <form class="mt-4" method="post">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.email.label(for="email-input", class="form-label") }}
        {{ form_input(form.email, id='email-input', aria_description="email-help") }}
        <div id="email-help" class="form-text">
          An email will be sent to your address, please check your inbox.
        </div>
      </div>
      
      <div class="d-grid gap-2">{{ form.submit_email(class="btn btn-teal") }}</div>
    </form>
</div>
</div>
{% endblock %}
